In [19]:
# Load Cleaned Data
import pandas as pd

df=pd.read_csv('cleaned_data.csv')

In [20]:
# add a new column 'address_length' that contains the length of each address
df['address_length'] = df['address'].apply(lambda x: len(str(x)))

In [21]:
# print the sample data after adding the 'address_length' column
print("Sample data after adding 'address_length' column:")
print(df[['address', 'address_length']].head(n=15))

Sample data after adding 'address_length' column:
               address  address_length
0   Street 37, City 13              18
1   Street 46, City 47              18
2    Street 63, City 1              17
3   Street 92, City 26              18
4    Street 45, City 5              17
5   Street 89, City 15              18
6    Street 9, City 31              17
7   Street 23, City 48              18
8                  NaN               3
9    Street 1, City 30              17
10   Street 69, City 2              17
11  Street 97, City 16              18
12                 NaN               3
13   Street 8, City 28              17
14   Street 43, City 8              17

In [22]:
# define the bins and labels
bins = [0, 50000, 70000, 100000]
labels = ['low', 'medium', 'high']

In [23]:
# Categorize 'salary' into 'salary_category' based on the defined bins and labels
df['salary_category'] = pd.cut(df['salary'], bins=bins, labels=labels, include_lowest=True)

In [24]:
# Print the sample data after adding the 'salary_category' column
print("Sample data after adding 'salary_category' column:")
print(df[['salary', 'salary_category']].head(n=15))

Sample data after adding 'salary_category' column:
     salary salary_category
0   60000.0          medium
1   50000.0             low
2   60000.0          medium
3   70000.0          medium
4   60000.0          medium
5   60000.0          medium
6   60000.0          medium
7   60000.0          medium
8   50000.0             low
9   50000.0             low
10  70000.0          medium
11  60000.0          medium
12  70000.0          medium
13  60000.0          medium
14  60000.0          medium

In [25]:
# Group by 'department' and calculate average salary and age
summary_report = df.groupby('department').agg({
    'salary': 'mean',
    'age': 'mean'
}).reset_index()

In [26]:
# Rename columns for clarity
summary_report.columns = ['department', 'average_salary', 'average_age']

In [27]:
# Print the summary report
print("Summary Report of average salary and age by department:")
print(summary_report)

# Save the final transformed data and summary report to CSV files
df.to_csv('transformed_data.csv', index=False)

Summary Report of average salary and age by department:
  department  average_salary  average_age
0    Finance    59830.035515    48.345256
1         HR    60015.155342    48.620106
2         IT    60034.499754    48.650074
3  Marketing    60049.455984    48.419139
4    Unknown    59939.954966    48.075056